In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [28]:
# load dataframe
cats = pd.read_csv('data/category.csv')
# calculate categories depths
depths = [len(i.split('|')) for i in cats.name]
# add depth column
cats = cats.assign(depth=depths)
cats.head()

   category_id                                               name  depth
0            0                Бытовая электроника|Телефоны|iPhone      3
1            1                       Бытовая электроника|Ноутбуки      2
2            2               Бытовая электроника|Телефоны|Samsung      3
3            3  Бытовая электроника|Планшеты и электронные кни...      3
4            4  Бытовая электроника|Игры, приставки и программ...      3

In [29]:
# depths of categories
set(depths)

{2, 3, 4}

In [30]:
# get subcategories at each level
lvl0_cats = []
lvl1_cats = []
lvl2_cats = []
lvl3_cats = []
for name in cats.name:
    splt = name.split('|')
    lvl0_cats.append(splt[0])
    lvl1_cats.append(splt[1])
    if len(splt) > 2:
        lvl2_cats.append(splt[2])
    else:
        lvl2_cats.append(-1)
    if len(splt) > 3:
        lvl3_cats.append(splt[3])
    else:
        lvl3_cats.append(-1)

# enumerate every label at each level
cats = cats.assign(lvl0_label=LabelEncoder().fit_transform(lvl0_cats))
cats = cats.assign(lvl1_label=LabelEncoder().fit_transform(lvl1_cats))
cats = cats.assign(lvl2_label=LabelEncoder().fit_transform(lvl2_cats))
cats = cats.assign(lvl3_label=LabelEncoder().fit_transform(lvl3_cats))
# cats = cats.assign(lvl0_cat=lvl0_cats)
# cats = cats.assign(lvl1_cat=lvl1_cats)
# cats = cats.assign(lvl2_cat=lvl2_cats)
# cats = cats.assign(lvl3_cat=lvl3_cats)
cats.head()

,category_id,name,depth,lvl0_label,lvl1_label,lvl2_label,lvl3_label
0,0,Бытовая электроника|Телефоны|iPhone,3,0,19,4,0
1,1,Бытовая электроника|Ноутбуки,2,0,11,0,0
2,2,Бытовая электроника|Телефоны|Samsung,3,0,19,2,0
3,3,Бытовая электроника|Планшеты и электронные кни...,3,0,14,28,0
4,4,"Бытовая электроника|Игры, приставки и программ...",3,0,4,19,0

In [33]:
cats.drop(['name'], axis=1).to_csv('new_categories.csv', index=False)